#service-page {
    #service-sections {
        display: flex;
        flex-direction: column;
        align-items: center;

        hr {
            width: 100%;
            margin: 20px 0;
            border: 1px solid $light_0;
        }

        section {
            display: grid;
            gap: 30px;
            padding: 30px;

            img {
                width: 300px;
                height: 300px;
                grid-row: 1 / span 2;
            }

            &.img-right {
                grid-template-columns: auto 300px;

                img {
                    grid-column: 2;
                }
            }

            &.img-left {
                grid-template-columns: 300px auto;

                img {
                    grid-column: 1;
                }
            }

            .mail-icon {
                font-size: 40px;
                position: relative;
                color: $light_0;
            }


            .contact-button {
                display: flex;
                align-items: center;
                gap: 10px;
                background-color: $blue_2;
                padding: 10px 25px;
                border-radius: 8px;
                cursor: pointer;

                .btn-text {
                    color: $light_0;
                    font-size: 22px;
                    font-weight: bold;
                    flex: 1;
                    text-align: center;
                }

                &:hover {
                    background-color: darken($blue_2, 10);

                    span {
                        color: white;
                    }
                }
            }

            h3 {
                color: $blue_2;
                font-size: 25px;
                margin: 0;
            }

            .section-data {
                display: flex;
                flex-direction: column;
                justify-content: center;
                min-height: 300px;



                p {
                    max-width: 400px;
                    font-size: 18px;
                    text-align: justify;
                }

                ul {

                    li {
                        padding: 5px 0;

                        &,
                        * {
                            color: $medium_grey;
                        }

                        &::before {
                            content: "⚙️\0020"; // A gear and a space
                            vertical-align: middle;
                        }
                    }
                }
            }

            &.techno {
                &>ul {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 40px;

                    li {
                        display: grid;
                        grid-template-columns: 100px auto;
                        gap: 20px;

                        img {
                            width: 100px;
                            height: 100px;
                        }

                        .tech-txt {
                            display: flex;
                            flex-direction: column;
                            gap: 10px;

                            h4,
                            p {
                                margin: 0;
                                padding: 0;
                            }

                            h4 {
                                color: $medium_grey;
                                font-size: 18px;
                            }

                            p {
                                flex: 1;
                                color: $light_2;
                                font-size: 14px;
                                font-style: italic;
                                max-width: 280px;
                                text-align: justify;
                            }
                        }

                    }
                }
            }

            @media screen and (max-width:$screen_m) {
                gap: 20px;
                padding: 20px;

                &:not(:first-child) {
                    margin-top: 40px;
                }

                img {
                    width: 200px;
                    height: auto;
                    max-width: 100%;
                    grid-row: 1;
                    grid-column: 1;
                    margin: 0 auto;
                }

                &.img-left,
                &.img-right {
                    grid-template-columns: 1fr;

                    img {
                        grid-row: 1;
                        grid-column: 1;
                    }
                }

                .mail-icon {
                    font-size: 30px;
                }

                .contact-button {
                    .btn-text {
                        font-size: 20px;
                    }
                }

                h3 {
                    color: $blue_2;
                    font-size: 22px;
                }

                .section-data {
                    min-height: unset;

                    p {
                        max-width: unset;
                    }
                }

                &.techno {
                    &>ul {
                        grid-template-columns: 1fr;
                        gap: 25px;

                        li {
                            grid-template-columns: 80px auto;

                            img {
                                width: 80px;
                                height: 80px;
                            }

                            .tech-txt {

                                h4 {
                                    font-size: 17px;
                                }

                                p {
                                    max-width: unset;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}