#article-view-container {
    position: relative;

    article {
        &.game-article {
            background-color: black;

            #article-banner {
                width: 100%;
                height: 500px;
                background-size: cover;
                background-position: center center;
                image-rendering: pixelated;
                image-rendering: -moz-crisp-edges;
                image-rendering: crisp-edges;
                position: relative;

                #header-text-container {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
                    padding: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    .header-text {
                        color: #ffffffbb;
                        margin: 0;

                        &.h1 {
                            font-size: 100px;
                            margin: 0;
                        }

                        &.h2 {
                            font-style: italic;
                            margin: 0 0 0 150px;
                            font-size: 32px;
                            max-width: 50%;
                        }
                    }

                    .play-button {
                        position: absolute;
                        right: 40px;
                        bottom: 10px;
                        padding: 20px 40px;
                        border: 1px solid;
                        border-radius: 10px;
                        background-color: unset;
                        font-weight: bold;
                        font-size: 20px;
                        cursor: pointer;
                        color: $blue_2;

                        &:hover {
                            color: $blue_3;
                        }
                    }
                }
            }

            #article-contents {
                padding: 40px;

                #article-body {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    gap: 20px;

                    p {
                        margin: 0;
                        color: $light_1;

                        * {
                            color: $light_1;
                        }

                        font-size: 20px;
                        font-weight: 600;
                        text-align: justify;
                    }

                    .embed {
                        width: 400px;
                        height: 250px;

                        iframe {
                            width: 100%;
                            height: 100%;
                        }
                    }

                }

                .image-carousel {
                    width: 100%;
                    height: 600px;
                }

                .article-details {
                    margin-top: 80px;

                    .details-list {
                        * {
                            color: $light_1;
                        }

                        .detail {
                            display: grid;
                            grid-template-columns: 1fr auto;
                            border-bottom: 1px solid #fff5;
                            padding: 5px 0;

                            label {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }

            @media screen and (max-width:1000px) {
                #article-contents {
                    max-width: 100%;

                    #article-body {
                        grid-template-columns: 1fr;

                        .embed {
                            width: 100%;
                            height: 400px;
                        }
                    }


                }
            }

            @media screen and (max-width:850px) {
                #article-banner {
                    height: 350px;

                    #header-text-container {
                        padding: 20px;

                        .header-text {

                            &.h1 {
                                font-size: 60px;
                            }

                            &.h2 {
                                margin: 0 0 0 50px;
                                font-size: 25px;
                            }
                        }

                        .play-button {
                            bottom: unset;
                            top: 10px;
                            right: 20px;
                            background-color: #0005;
                        }
                    }
                }

                #article-contents {
                    padding: 20px;

                    #article-body {
                        .embed {
                            height: 300px;
                        }
                    }

                    .image-carousel {
                        height: 300px;
                    }

                    .article-details {
                        margin-top: 40px;
                    }
                }
            }

            @media screen and (max-width:750px) {
                #article-banner {
                    height: 250px;

                    #header-text-container {
                        .header-text {
                            &.h1 {
                                font-size: 40px;
                            }

                            &.h2 {
                                font-style: italic;
                                margin: 0;
                                font-size: 20px;
                            }
                        }

                        .play-button {
                            // TODO handle cases where game can be played on a mobile device
                            display: none;
                        }
                    }
                }

                #article-contents {
                    #article-body {
                        p {
                            font-size: initial;
                        }

                        .embed {
                            height: 250px;
                        }
                    }

                    .image-carousel {
                        height: 250px;
                    }
                }
            }
        }

        &.software-article {
            display: grid;
            grid-template-columns: 400px auto;
            padding: 20px;
            grid-auto-rows: minmax(min-content, max-content);

            .article-image {
                width: 350px;
                height: 350px;
                @include flex-center;
                background-color: black;
                border-radius: 100%;
                overflow: hidden;
                grid-row: 1 / span 2;

                img {
                    padding: 40px;
                    max-height: 350px;
                }
            }

            .article-titles {
                grid-row: 1;
                grid-column: 2;

                .article-title {
                    font-size: 40px;
                    margin: 20px 0;
                    font-weight: 900;
                    color: $medium_grey;
                }

                .article-subtitle {
                    font-size: 20px;
                    color: $medium_grey;
                }
            }



            .article-body {
                grid-row: 2;
                grid-column: 2;
                font-size: 17px;

                p {
                    text-align: justify;
                    max-width: 600px;
                }
            }

            .article-more {
                grid-row: 3;
                grid-column: 1/span 2;
                margin: 40px 0;
                display: grid;
                grid-template-columns: 600px auto;
                gap: 20px;

                .image-carousel {
                    height: 400px;
                }

                .article-details {
                    h3 {
                        margin: 0;
                        color: $medium_grey;
                    }

                    .details-list {
                        margin: 20px 0;

                        .detail {
                            display: grid;
                            grid-template-columns: 1fr auto;
                            gap: 15px;
                            padding: 10px 0;
                            border-bottom: 1px solid #ddd;

                            .detail-value {
                                text-align: right;
                            }
                        }
                    }

                }
            }

            @media screen and (max-width: 1100px) {
                grid-template-columns: 300px auto;

                .article-image {
                    width: 250px;
                    height: 250px;

                    img {
                        padding: 40px;
                        max-height: 250px;
                    }
                }

                .article-body {
                    grid-row: 2;
                    grid-column: 2;
                    font-size: 17px;

                    p {
                        max-width: 100%;
                    }
                }

                .article-more {
                    grid-template-columns: 1fr;

                    .image-carousel {
                        grid-row: 1;
                        height: 400px;
                    }
                }
            }

            @media screen and (max-width: $screen_l) {
                grid-template-columns: 300px auto;
                gap: 20px;

                .article-image {
                    grid-row: 1;
                }

                .article-titles {
                    .article-title {
                        font-size: 30px;
                    }

                    .article-subtitle {
                        font-size: 18px;
                    }
                }


                .article-body {
                    grid-column: 1/span 2;

                    p {
                        width: 100%;
                    }
                }
            }

            @media screen and (max-width: $screen_m) {
                grid-template-columns: 120px auto;

                .article-image {
                    width: 120px;
                    height: 120px;

                    img {
                        padding: 10px;
                        max-height: 150px;
                    }
                }

                .article-more {
                    .image-carousel {
                        height: 300px;
                    }
                }
            }
        }
    }

}