body * {
	font-family: monospace;

	box-sizing: border-box;
}

input[type="text"],
textarea {
	padding: 8px;
}

button,
input[type="submit"] {
	padding: 10px;
	cursor: pointer;
}

nav {
	display: flex;
	gap: 1px;
	margin: 20px 0;
}

nav span {
	padding: 20px;
	font-weight: bold;
	background-color: #ddd;
	cursor: pointer;
}

nav span:hover,
nav span.selected {
	background-color: #555;
	color: white;
}
